.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* univrsal body style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #F5F7FE; */
}

body {
    background-color: #F5F7FE;

}


/* shared style  */
.primary-btn {
    color: white;
    color: white;
    background-color: #4E47FF;
    padding-left: 45px;
    padding-right: 45px;
    border: none;
    border-radius: 10px
}

.primary-bold-text-color {
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}


/* nav bar style  */

.header {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
    margin-top: 0px;
    padding: 1px;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 60px 0px;
    justify-content: space-between;

}

.banner {
    text-align: center;
    margin-top: 109px;
}

.banner-btn {
    margin-top: 50px;
    padding: 20px 40px;
    cursor: pointer;
}

.banner-h {
    font-weight: bold;
    font-size: 65px;
    color: black;
}

/* Action section style  */
.common-pera {
    font-size: 24px;
    font-weight: normal;
    color: #252432;
    width: 60%;
}

.tittle42 {
    font-weight: bold;
    font-size: 42px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn {
    margin-top: 22px;
    padding: 15px 36px;
}

.action-img {
    /* width: 403px;
    height: 328px; */
    border-radius: 48px;
}

/* user section style  */
.all-user {
    background-color: #E6E6FF;
    text-align: center;
    padding: 50px 0px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 85px;
    height: 306px;
    width: 1140px;
    border-radius: 24px;
}

.user-para {
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}

.users {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.user {}

.user-number {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}

.user-text {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
}

/* Ready for focus style   */

.title50 {
    font-weight: bold;
    font-size: 50px;
}

.focus-sec {
    width: 1140px;
    height: 698px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    border-radius: 16px;

}

.focus-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.get-in-btn {
    padding: 15px 25px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;


}



.focus-img {
    margin-top: 20px;
}

.focus-img img {
    width: 840px;
    height: 364px;
    border-radius: 48px;
}

/* lets get in touch section  */
.touch-in {

}

.touch-in-container {
    width: 1140px;
    height: 630px;
    margin-left: 145px;
    margin-right: 145px;
    margin-top: 20px;
    padding-top: 71px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.left-touch-in-container {


}
.touch-in-heading{
    font-size: 97px;
    font-weight: bold;
}

.right-touch-in-container {

}

.form-group input, textarea  {
        height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 18px;
}
.btn-get-in-touch{
    padding: 14px 135px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}
.label{
    font-size: 18px;
   color:  #000000;
}











/* hobor effect  */

.get-in-btn:hover {
    background-color: red;
}
